
@tailwind base;

*::-webkit-scrollbar {
  width: 0;
}

@tailwind components;
@tailwind utilities;
/* html,
body,*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  list-style: none;
  
}

::-webkit-scrollbar {
  width: 0px;
}

a{
  color: inherit;
}

.nav{
  height: 10vh;
  position: sticky;
  top: 0;
  border:2px solid black;
}


.sidebar{
  width: 250px;
  height:80vh;
  padding: 30px 10px;
  position: sticky;
  top: 15vh;
  border:2px solid black;

} */